<a href="https://colab.research.google.com/github/jonathanbenitezmayorga/ejercicios_for/blob/main/ejercicios_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTRUCCION REPETITVA FOR

In [ ]:
# EJERCICIO 1: MOSTRAR LOS NUMEROS DE 1 AL 10 SIN USAR FUNCIONES REPETITIVAS
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

In [ ]:
# EJERCICIO 2: COMOS LOS NUMEROS DE 1 AL 10 CON LA  INSTRUCION WHILE WHILE 
contador = 1
print(contador)
while contador <10:
  # contador = contador + 1
  contador += 1
  print (contador)

In [ ]:
# EJERCICIO 3: MOSTRAR LOS NUMEROS DEL 1 AL 10 USANDO LA INSTRUCCION FOR EN UNA LISTA COMO INTERABLE 
for i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  print(i)

In [ ]:
# EJERCICIO 4: MOSTRAR LOS NUMEROS DE 1 AL 10 UTILIZANDO LA INSTRUCCION FOR Y RANGE 
for i in range(1,11):
  print(i)

In [ ]:
# EJERCICIO 5: MOSTRAR UNA FRASE 10 VECES USANDO LA INSTRUCION FOR Y UNA LISTA
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in lista:
  print(f"erda")

In [ ]:
# EJERCICIO 6: MOSTRAR LA INICIAL DE LOS DIAS DE LA SEMANA USANDO FOR Y UNA LISTA CON UNA SILABA INICIAL
dias_semana = ["lun, ma, mi, ju, vi , sa, do"]
for i in dias_semana:
  print(i)

In [ ]:
#Ejercicio 7: mostar una lista de distintos tipos de datos,usando for

lista = [1,3,4,9,True, "andres", 8, "guanenta"]
for i in lista:
  print(i)

In [ ]:
#EJERCICIO 8: INGRESAR SU NOMBRE Y MOSTRARLO LETRA A LETRA
nombre = input("dijite su nombre: ")
for letra in  nombre:
  print(letra)

In [ ]:
# EJERCICIO 9: INGRESAR SU NOMBRE MOSTRANDO LETRA A LETRA, USANDO FOR, CAMBIANDO POR * LA VOCAL E
nombre = input("digite el nombre: ")
for letra in nombre: 
  if letra == 'e':
    print("*")
  else:
    print(letra)

In [ ]:
# EJERCICIO 10: INGRESAR TU NOMBRE Y MOSTRARLO LETRA A LETRA EN MAYUSCULA 
nombre = input("digite su nombre: ")
for letra in nombre: 
  print(letra.upper())

In [ ]:
# EJECICIO 11: IMPRIMIR LISTA DE NUMEROS USANDO FOR Y RANGE 
print("muestra los numeros del 1 al 9")
for i in range (10): 
  print(i)

print("nuemros del 1 al 10")
for i in range (1,11):
  print(i)

print("10 veses la misma frase")
for i in range (10):
  print("erda")

print("10 veses la frase i = ")
for i in range (10):
  print("i = " + str (i))

print("10 veses la frase i = ")
for i in range (10):
  print(f"i = ")

print("rango del 7 al 18 incrementando de 4 en 4")
for i in range (7,19,4):
  print(i)

print("comvierte en rango de lista a,y la muestra")
a = list(range(1000))
print(a)

# ejercicios 
1. dada la siguiente lista de numeros [20, 21, 30, 41, 50, 201]mostrar en patalla los que noterminan en 1.
2. mostrar 1000 veses en pantalla "programamcion"
3. del conjunto de cadenas [ "E", "F", "M", "A"] que corresponde a las iniciales de los primeros 4 meses del aÃ±o

In [ ]:
# EJERCICIO 12:

In [ ]:
# EJERCICIO 13: